
body, html {
    font-family: 'Nunito', sans-serif;
}

.service-card {
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}

    .service-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .service-card img {
        height: 150px;
        object-fit: cover;
        width: 100%;
        border-radius: 0.5rem;
    }

    .service-card h5 {
        font-size: 1.25rem;
    }

    .service-card p {
        margin: 0;
    }

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}

/*.modal-body {
    height: 100vh;
}*/

.spin-logo {
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
